// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {

height: 100%; margin: 0px; padding: 0px ;
}

header{

height: 100%; margin: 0px; padding: 0px ;

}

body {

height: 100%; margin: 0px; padding: 0px ;

}

custom_style {

height: 100% ; margin: 0px; padding: 0px ;

}

#calendar{
	
	z-index:1;position:absolute;left:450px;top:10px;
}

